
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
  flex-basis: 50%;
  background: #eee;
  padding: 1em;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}
ul li p {
  font-weight: bold;
}

.flex-pages {
  margin-top: 2em;
  width: 35%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-ingredients {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: -20px;
}

button {
  font-weight: bold;
  background: transparent;
  border: none;
  padding: 0.8em;
  border-radius: 1px;
  margin-bottom: 2px;
  width: 10em;
}


button:focus {
  outline: 2px solid rgb(119, 0, 255);
}

h1 {
  margin-top: 2.7vh;
}

section {
  margin-left: 8%;
}