<section class="full-width">
	<h1 *ngIf="latestMeals">Latest Meals</h1>

	<!-- <h2 *ngIf="latestMeals">Find: ________</h2> -->
	<!-- SEARCH -->
	

	<!-- LATEST MEALS, displayed on page load -->
		<ul *ngIf="latestMeals">
		  <li [routerLink]="['/meal-detail', meal.strMeal]" (click)="prepareForShow(meal.idMeal)" *ngFor="let meal of latestMeals.meals">
		  	<p> {{ meal.strMeal }} </p>
		  	<img [src]="meal.strMealThumb">
		  	<p class="category"> {{ meal.strCategory }} </p>
		  	<p class="category"> {{ meal.strArea }} </p>
		  </li>
		</ul>

	<app-footer *ngIf="latestMeals"></app-footer>
</section>